.App {
  padding: 20px;
  height: calc(100% - 40px);
}

.App .content {
  display: flex;
  height: calc(100% - 70px - 80px);
}

.App .logo {
  display: flex;
  margin-bottom: 50px;
}

.App .logo-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.App .logo-section-spacer {
  flex: 3;
}

.App .logo-section .logo-image {
  max-width: 17%;
  margin-right: 10px;
}

.App .logo-section .logo-name {
  font-size: 3vw;
  font-weight: 700;
  cursor: default;
  user-select: none;
}

.App .nav-list {
  flex: 1;
  margin-right: 10px;
}

.App .capture-display {
  flex: 3;
  margin-left: 10px;
}

.App .footer hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
