.display-capture {
  box-shadow: 0 0 20px rgba(188, 204, 220, 1);
  border-radius: 4px;
  padding: 20px;
  background-color: white;
  height: calc(100% - 60px);
  overflow: scroll;
}

.display-capture.loading {
  display: flex;
  align-items: center;
}

.display-capture .loading-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
